In [40]:
import pandas as pd
import numpy as np

In [45]:
# read csv sin la primera fila y agregarle los nombres de las coolumnasmnas
columnas = ['Nemotécnico','Emisor','Clase de título','Fecha de vencimiento','Cantidad','Volúmenes','Tipo','Codigo']
df = pd.read_csv('data/db/bonds_public.csv', skiprows=1, sep=';', names=columnas)
df.head()

,Nemotécnico,Emisor,Clase de título,Fecha de vencimiento,Cantidad,Volúmenes,Tipo,Codigo
0,TDAIBRA,FINAGRO,-,-,240208513000,240208513000,CONTADO,TDAIBRA-2024012920250129Qr11.7580
1,TFIT16181034,GOBIERNO NACIONAL,TITULOS TES,Tue Oct 17 2034 19:00:00 GMT-0500 (Colombia St...,214727600000,184683639866,CONTADO,TFIT16181034
2,TFIT15260826,GOBIERNO NACIONAL,TITULOS TES,Tue Aug 25 2026 19:00:00 GMT-0500 (Colombia St...,173800000000,173635700000,CONTADO,TFIT15260826
3,TFIT16240724,GOBIERNO NACIONAL,TITULOS TES,Tue Jul 23 2024 19:00:00 GMT-0500 (Colombia St...,140500000000,147426510500,CONTADO,TFIT16240724
4,TFIT11090233,GOBIERNO NACIONAL,TITULOS TES,Tue Feb 08 2033 19:00:00 GMT-0500 (Colombia St...,79900000000,106640445300,CONTADO,TFIT11090233

In [39]:
# tipos de datos
df.dtypes

Nemotécnico             object
Emisor                  object
Clase de título         object
Fecha de vencimiento    object
Cantidad                 int64
Volúmenes                int64
Tipo                    object
Codigo                  object
dtype: object